<h1>Campaign List</h1>

<div id="scrollbox">
  <% for campaign in @campaigns %>
    <p>
      <ul class="general">
        <b>Name:</b> <%= campaign.name %>
      </ul>
      <ul class="general">
        <h4>Characters</h4>
      </ul>
      <% for character in campaign.characters() %>
      <ul class="general">
        <a href="/characters/<%= character.id %>"><%= character.name %></a>
      </ul>
      <% end %>
      <ul>
        <form action="/campaigns/<%= campaign.id %>" method="get">
          <button type="submit">View Campaign</button>
        </form>
        <form action="/campaigns/<%= campaign.id %>/delete" method="post">
          <button type="submit">Delete Campaign</button>
        </form>
      </ul>
    </p>
    <hr>
  <% end %>
</div>

<form action="/campaigns/new" method="get" style="margin-left:45%">
  <button type="submit" class="button">
    Create New Campaign
  </button>
</form>