<form action="/characters/<%= @character.id %>" method="post">
  <ul>
    <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%= @character.name %>">
  </ul>
  <ul>
    <label for="char-class">Class</label>
      <select id="char-class" name="char_class" value="<%= @character.char_class %>">
        <option value="Druid">Druid</option>
        <option value="Paladin">Paladin</option>
        <option value="Rogue">Rogue</option>
      </select>
  </ul>
  <ul>
    <label for="level">Level</label>
      <input type="number" name="level" id="level" value="<%= @character.level %>">
  </ul>
  <ul>
    <label for="xp-points">XP</label>
      <input type="number" name="xp_points" id="xp-points" value="<%= @character.xp_points %>">
  </ul>
  <ul>
    <label for="race">Race</label>
      <select id="race" name="race" value="<%= @character.race %>">
        <option value="Elf">Elf</option>
        <option value="Dwarf">Dwarf</option>
        <option value="Tiefling">Tiefling</option>
        <option value="Human">Human</option>
      </select>
  </ul>
  <ul>
    <label for="background">Background</label>
      <input type="text" name="background" id="background" value="<%= @character.background %>">
  </ul>
  <ul>
    <label for="alignment">Alignment</label>
      <select id="alignment" name="alignment" value="<%= @character.alignment %>">
        <option value="Lawful Good">Lawful Good</option>
        <option value="Neutral Good">Neutral Good</option>
        <option value="Chaotic Good">Chaotic Good</option>
        <option value="Lawful Neutral">Lawful Neutral</option>
        <option value="True Neutral">True Neutral</option>
        <option value="Chaotic Neutral">Chaotic Neutral</option>
        <option value="Lawful Evil">Lawful Evil</option>
        <option value="Neutral Evil">Neutral Evil</option>
        <option value="Chaotic Evil">Chaotic Evil</option>
      </select>
  </ul>
  <ul>
    <h3>Core Stats</h3>
  </ul>
  <ul>
    <label for="strength">Strength</label>
      <input type="number" name="strength" id="strength" value="<%= @character.strength %>">
  </ul>
  <ul>
    <label for="dexterity">Dexterity</label>
      <input type="number" name="dexterity" id="dexterity" value="<%= @character.dexterity %>">
  </ul>
  <ul>
    <label for="constitution">Constitution</label>
      <input type="number" name="constitution" id="constitution" value="<%= @character.constitution %>">
  </ul>
  <ul>
    <label for="intelligence">Intelligence</label>
      <input type="number" name="intelligence" id="intelligence" value="<%= @character.intelligence %>">
  </ul>
  <ul>
    <label for="wisdom">Wisdom</label>
      <input type="number" name="wisdom" id="wisdom" value="<%= @character.wisdom %>">
  </ul>
  <ul>
    <label for="charisma">Charisma</label>
      <input type="number" name="charisma" id="charisma" value="<%= @character.charisma %>">
  </ul>
  <ul>
    <h3>Other Stats</h3>
  </ul>
  <ul>
    <label for="armour-class">AC</label>
    <input type="number" name="armour_class" id="armour-class" value="<%= @character.armour_class %>">
  </ul>
  <ul>
    <label for="initiative">Initiative</label>
    <input type="number" name="initiative" id="initiative" value="<%= @character.initiative %>">
  </ul>
  <ul>
    <label for="speed">Speed</label>
    <input type="number" name="speed" id="speed" value="<%= @character.speed %>">
  </ul>
  <ul>
    <label for="hp-max">HP Max</label>
    <input type="number" name="hp_max" id="hp-max" value="<%= @character.hp_max %>">
  </ul>
  <ul>
    <label for="current-hp">Current HP</label>
    <input type="number" name="current_hp" id="current-hp" value="<%= @character.current_hp %>">
  </ul>
  <ul>
    <label for="temp-hp">Temp HP</label>
    <input type="number" name="temp_hp" id="temp-hp" value="<%= @character.temp_hp %>">
  </ul>
  <ul>
    <label for="total-hit-dice">Total Hit Dice</label>
    <input type="text" name="total_hit_dice" id="total-hit-dice" value="<%= @character.total_hit_dice %>">
  </ul>
  <ul>
    <label for="current-hit-dice">Current Hit Dice</label>
    <input type="text" name="current_hit_dice" id="current-hit-dice" value="<%= @character.current_hit_dice %>">
  </ul>
  <ul>
    <label for="death-saves">Death Saves</label>
    <input type="number" name="death_saves" id="death-saves" value="<%= @character.death_saves %>">
  </ul>
  <ul>
    <h3>Proficiencies</h3>
  </ul>
  <ul>
    <label for="armour-profs">Armour Proficiencies</label>
      <input type="text" name="armour_profs" id="armour-profs" value="<%= @character.armour_profs %>">
  </ul>
  <ul>
    <label for="weapon-profs">Weapon Proficiencies</label>
      <input type="text" name="weapon_profs" id="weapon-profs" value="<%= @character.weapon_profs %>">
  </ul>
  <ul>
    <label for="tool-profs">Tool Proficiencies</label>
      <input type="text" name="tool_profs" id="tool-profs" value="<%= @character.tool_profs %>">
  </ul>
  <ul>
    <label for="saving-throw-profs">Saving Throw Proficiencies</label>
      <input type="text" name="saving_throw_profs" id="saving-throw-profs" value="<%= @character.saving_throw_profs %>">
  </ul>
  <ul>
    <label for="skill-profs">Skill Proficiencies</label>
      <input type="text" name="skill_profs" id="skill-profs" value="<%= @character.skill_profs %>">
  </ul>
  <ul>
    <label for="language-profs">Language Proficiencies</label>
      <input type="text" name="language_profs" id="language-profs" value="<%= @character.language_profs %>">
  </ul>
  <ul>
    <h3>Attacks and Spells</h3>
  </ul>
  <ul>
    <label for="weapons">Weapons</label>
      <input type="text" name="weapons" id="weapons" value="<%= @character.weapons %>">
  </ul>
  <ul>
    <label for="other-attacks-and-spells">Other Attacks and Spells</label>
      <input type="text" name="other_attacks_and_spells" id="other-attacks-and-spells" value="<%= @character.other_attacks_and_spells %>">
  </ul>
  <ul>
    <h3>Equipment</h3>
  </ul>
  <ul>
    <label for="cp">cp</label>
      <input type="number" name="cp" id="cp" value="<%= @character.cp %>">
  </ul>
  <ul>
    <label for="sp">sp</label>
      <input type="number" name="sp" id="sp" value="<%= @character.sp %>">
  </ul>
  <ul>
    <label for="ep">ep</label>
      <input type="number" name="ep" id="ep" value="<%= @character.ep %>">
  </ul>
  <ul>
    <label for="gp">gp</label>
      <input type="number" name="gp" id="gp" value="<%= @character.gp %>">
  </ul>
  <ul>
    <label for="pp">pp</label>
      <input type="number" name="pp" id="pp" value="<%= @character.pp %>">
  </ul>
  <ul>
    <label for="other-equipment">Other Equipment</label>
      <input type="text" name="other_equipment" id="other-equipment" value="<%= @character.other_equipment %>">
  </ul>
  <ul>
    <h3>Character Details</h3>
  </ul>
  <ul>
    <label for="personality">Personality</label>
      <input type="text" name="personality" id="personality" value="<%= @character.personality %>">
  </ul>
  <ul>
    <label for="ideals">Ideals</label>
      <input type="text" name="ideals" id="ideals" value="<%= @character.ideals %>">
  </ul>
  <ul>
    <label for="bonds">Bonds</label>
      <input type="text" name="bonds" id="bonds" value="<%= @character.bonds %>">
  </ul>
  <ul>
    <label for="flaws">Flaws</label>
      <input type="text" name="flaws" id="flaws" value="<%= @character.flaws %>">
  </ul>
  <ul>
    <label for="features">Features and Traits</label>
      <input type="text" name="features" id="features" value="<%= @character.features %>">
  </ul>
  <ul>
    <input type="submit" value="Save">
  </ul>
</form>
