<h1>Character List</h1>

<div id="scrollbox">
  <% for character in @characters %>
    <p>
      <ul class="general">
        Name: <%= character.name %>
      </ul>
      <ul class="general">
        Race: <%= character.race %>
      </ul>
      <ul class="general">
        Class: <%= character.char_class %>
      </ul>
      <ul class="general">
        Level: <%= character.level %>
      </ul>
      <ul>
        <form action="/characters/<%= character.id %>" method="get">
          <button type="submit">View Character</button>
        </form>
        <form action="/characters/<%= character.id %>/delete" method="post">
          <button type="submit">Delete Character</button>
        </form>
      </ul>
    </p>
    <hr>
  <% end %>
</div>

<form action="/characters/new" method="get" style="margin:auto; width:9%; height:30px">
  <button type="submit" class="button">
    Create New Character
  </button>
</form>
