<h1>Character List</h1>

<div style="width:600px; height:350px; line-height:2em; overflow:auto; padding:5px;">
  <% for character in @characters %>
    <p>
      <ul>
        Name: <%= character.name %>
      </ul>
      <ul>
        Race: <%= character.race %>
      </ul>
      <ul>
        Class: <%= character.char_class %>
      </ul>
      <ul>
        Level: <%= character.level %>
      </ul>
      <ul>
        <form action="/characters/<%= character.id %>" method="get">
          <button type="submit">View Character</button>
        </form>
        <form action="/" method="get">
          <button type="submit">Edit Character</button>
        </form>
        <form action="characters/<%= character.id %>/delete" method="post">
          <button type="submit">Delete Character</button>
        </form>
      </ul>
    </p>
    <hr>
  <% end %>
</div>

<form action="/characters/new" method="get">
  <button type="submit" style="width:100px; height:50px; margin-top:10px;">
    Create New Character
  </button>
</form>
