<h1><%= @character.name %></h1>

<p>
  <ul>Class: <%= @character.char_class %></ul>
  <ul>Level: <%= @character.level %></ul>
  <ul>Race: <%= @character.race %></ul>
  <ul>Background: <%= @character.background %></ul>
  <ul>Alignment: <%= @character.alignment %></ul>
  <ul>XP: <%= @character.xp_points %></ul>
</p>

<p>
  <ul>
    <h3>Stats</h3>
  </ul>
  <ul>Strength: <%= @character.strength %>
    <%= (@character.strength - 10) / 2 %>
  </ul>
  <ul>Dexterity: <%= @character.dexterity %>
    <%= (@character.dexterity - 10) / 2 %>
  </ul>
  <ul>Constitution: <%= @character.constitution %>
    <%= (@character.constitution - 10) / 2 %>
  </ul>
  <ul>Intelligence: <%= @character.intelligence %>
    <%= (@character.intelligence - 10) / 2 %>
  </ul>
  <ul>Wisdom: <%= @character.wisdom %>
    <%= (@character.wisdom - 10) / 2 %>
  </ul>
  <ul>Charisma: <%= @character.charisma %>
    <%= (@character.charisma - 10) / 2 %>
  </ul>
</p>

<p>
  <ul><h3>Proficiency Bonus </h3>+NUM</ul>
  <ul>
    <h3>Saving Throws</h3>
    <table>
      <tr>
        <td><%= (@character.strength - 10) / 2 %></td>
        <td>Strength</td>
      </tr>
      <tr>
        <td><%= (@character.dexterity - 10) / 2 %></td>
        <td>Dexterity</td>
      </tr>
      <tr>
        <td><%= (@character.constitution - 10) / 2 %></td>
        <td>Constitution</td>
      </tr>
      <tr>
        <td><%= (@character.intelligence - 10) / 2 %></td>
        <td>Intelligence</td>
      </tr>
      <tr>
        <td><%= (@character.wisdom - 10) / 2 %></td>
        <td>Wisdom</td>
      </tr>
      <tr>
        <td><%= (@character.charisma - 10) / 2 %></td>
        <td>Charisma</td>
      </tr>
    </table>
  </ul>
  <ul>
    <h3>Skills</h3>
    <table>
      <tr>
        <td><%= (@character.dexterity - 10) / 2 %></td>
        <td>Acrobatics</td>
      </tr>
      <tr>
        <td><%= (@character.wisdom - 10) / 2 %></td>
        <td>Animal Handling</td>
      </tr>
      <tr>
        <td><%= (@character.intelligence - 10) / 2 %></td>
        <td>Arcana</td>
      </tr>
      <tr>
        <td><%= (@character.strength - 10) / 2 %></td>
        <td>Athletics</td>
      </tr>
      <tr>
        <td><%= (@character.charisma - 10) / 2 %></td>
        <td>Deception</td>
      </tr>
      <tr>
        <td><%= (@character.intelligence - 10) / 2 %></td>
        <td>History</td>
      </tr>
      <tr>
        <td><%= (@character.wisdom - 10) / 2 %></td>
        <td>Insight</td>
      </tr>
      <tr>
        <td><%= (@character.charisma - 10) / 2 %></td>
        <td>Intimidation</td>
      </tr>
      <tr>
        <td><%= (@character.intelligence - 10) / 2 %></td>
        <td>Investigation</td>
      </tr>
      <tr>
        <td><%= (@character.wisdom - 10) / 2 %></td>
        <td>Medicine</td>
      </tr>
      <tr>
        <td><%= (@character.intelligence - 10) / 2 %></td>
        <td>Nature</td>
      </tr>
      <tr>
        <td><%= (@character.wisdom - 10) / 2 %></td>
        <td>Perception</td>
      </tr>
      <tr>
        <td><%= (@character.charisma - 10) / 2 %></td>
        <td>Performance</td>
      </tr>
      <tr>
        <td><%= (@character.charisma - 10) / 2 %></td>
        <td>Persuasion</td>
      </tr>
      <tr>
        <td><%= (@character.intelligence - 10) / 2 %></td>
        <td>Religion</td>
      </tr>
      <tr>
        <td><%= (@character.dexterity - 10) / 2 %></td>
        <td>Sleight of Hand</td>
      </tr>
      <tr>
        <td><%= (@character.dexterity - 10) / 2 %></td>
        <td>Stealth</td>
      </tr>
      <tr>
        <td><%= (@character.wisdom - 10) / 2 %></td>
        <td>Survival</td>
      </tr>
    </table>
  </ul>
</p>

<p>
  <ul>
    <h3>Proficiencies and Languages</h3>
  </ul>
  <div style="width:600px; height:200px; line-height:1em; overflow:auto; padding:5px;">
    <ul>Armour: <%= @character.armour_profs %></ul>
    <ul>Weapons: <%= @character.weapon_profs %></ul>
    <ul>Tools: <%= @character.tool_profs %></ul>
    <ul>Saving Throws: <%= @character.saving_throw_profs %></ul>
    <ul>Skills: <%= @character.skill_profs %></ul>
    <ul>Languages: <%= @character.language_profs %></ul>
  </div>
</p>

<p>
  <ul>AC: <%= @character.armour_class %></ul>
  <ul>Initiative: <%= @character.initiative %></ul>
  <ul>Speed: <%= @character.speed %></ul>
</p>

<p>
  <ul>Max HP: <%= @character.hp_max %></ul>
  <ul>Current HP: <%= @character.current_hp %></ul>
  <ul>Temporary HP: <%= @character.temp_hp %></ul>
</p>

<p>
  <ul>Total Hit Dice: <%= @character.total_hit_dice %></ul>
  <ul>Current Hit Dice: <%= @character.current_hit_dice %></ul>
  <ul>Death Saves: <%= @character.death_saves %></ul>
</p>

<p>
  <ul>
    <h3>Attacks and Spells</h3>
  </ul>
  <ul>Weapons: <%= @character.weapons %></ul>
  <ul>
    <div style="width:600px; height:100px; line-height:1em; overflow:auto; padding:5px;">
      <%= @character.other_attacks_and_spells %>
    </div>
  </ul>
</p>

<p>
  <ul>
    <h3>Equipment</h3>
  </ul>
  <ul>cp: <%= @character.cp %></ul>
  <ul>sp: <%= @character.sp %></ul>
  <ul>ep: <%= @character.ep %></ul>
  <ul>gp: <%= @character.gp %></ul>
  <ul>pp: <%= @character.pp %></ul>
  <ul>
    <div style="width:600px; height:100px; line-height:1em; overflow:auto; padding:5px;">
      <%= @character.other_equipment %>
    </div>
  </ul>
</p>

<p>
  <ul>
    <h3>Character Details</h3>
  </ul>
  <ul>
    <div style="width:600px; height:100px; line-height:1em; overflow:auto; padding:5px;">
      Personality: <%= @character.personality %>
    </div>
    <div style="width:600px; height:100px; line-height:1em; overflow:auto; padding:5px;">
      Ideals: <%= @character.ideals %>
    </div>
    <div style="width:600px; height:100px; line-height:1em; overflow:auto; padding:5px;">
      Bonds: <%= @character.bonds %>
    </div>
    <div style="width:600px; height:100px; line-height:1em; overflow:auto; padding:5px;">
      Flaws: <%= @character.flaws %>
    </div>
    <div style="width:600px; height:100px; line-height:1em; overflow:auto; padding:5px;">
      Flaws: <%= @character.flaws %>
    </div>
  </ul>
</p>

<p>
  <ul>
    <h3>Features and Traits</h3>
  </ul>
  <ul>
    <div style="width:600px; height:200px; line-height:1em; overflow:auto; padding:5px;">
      <%= @character.features %>
    </div>
  </ul>
</p>
