<div class="container">

  <h1 style="text-align:center;"><%= @character.name %></h1>

  <form action="/characters/<%= @character.id %>/edit" method="get" style="text-align:center;margin:1em;">
    <button type="submit" class="btn btn-default btn-lg">Edit Character</button>
  </form>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <h4><b>Class:</b> <%= @character.char_class %></h4>
          <h4><b>Level:</b> <%= @character.level %></h4>
        </div>
        <div class="col-md-4">
          <h4><b>Race:</b> <%= @character.race %></h4>
          <h4><b>Background:</b> <%= @character.background %></h4>
        </div>
        <div class="col-md-4">
          <h4><b>Alignment:</b> <%= @character.alignment %></h4>
          <h4><b>XP:</b> <%= @character.xp_points %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Stats</h4></div>
        <div class="panel-body">
          <b>Strength:</b> <%= @character.strength %> <%= (@character.strength - 10) / 2 %>
          <br>
          <b>Dexterity:</b> <%= @character.dexterity %> <%= (@character.dexterity - 10) / 2 %>
          <br>
          <b>Constitution:</b> <%= @character.constitution %> <%= (@character.constitution - 10) / 2 %>
          <br>
          <b>Intelligence:</b> <%= @character.intelligence %> <%= (@character.intelligence - 10) / 2 %>
          <br>
          <b>Wisdom:</b> <%= @character.wisdom %> <%= (@character.wisdom - 10) / 2 %>
          <br>
          <b>Charisma:</b> <%= @character.charisma %> <%= (@character.charisma - 10) / 2 %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Proficiency Bonus</h4></div>
        <div class="panel-body">+NUM</div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4>Saving Throws</h4></div>
        <div class="panel-body">
          <table class="table-striped cell">
            <tr>
              <td><%= (@character.strength - 10) / 2 %></td>
              <td>Strength</td>
            </tr>
            <tr>
              <td><%= (@character.dexterity - 10) / 2 %></td>
              <td>Dexterity</td>
            </tr>
            <tr>
              <td><%= (@character.constitution - 10) / 2 %></td>
              <td>Constitution</td>
            </tr>
            <tr>
              <td><%= (@character.intelligence - 10) / 2 %></td>
              <td>Intelligence</td>
            </tr>
            <tr>
              <td><%= (@character.wisdom - 10) / 2 %></td>
              <td>Wisdom</td>
            </tr>
            <tr>
              <td><%= (@character.charisma - 10) / 2 %></td>
              <td>Charisma</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4>Skills</h4></div>
        <div class="panel-body">
          <table class="table-striped cell">
          <tr>
            <td><%= (@character.dexterity - 10) / 2 %></td>
            <td>Acrobatics</td>
          </tr>
          <tr>
            <td><%= (@character.wisdom - 10) / 2 %></td>
            <td>Animal Handling</td>
          </tr>
          <tr>
            <td><%= (@character.intelligence - 10) / 2 %></td>
            <td>Arcana</td>
          </tr>
          <tr class="cell">
            <td><%= (@character.strength - 10) / 2 %></td>
            <td>Athletics</td>
          </tr>
          <tr>
            <td><%= (@character.charisma - 10) / 2 %></td>
            <td>Deception</td>
          </tr>
          <tr>
            <td><%= (@character.intelligence - 10) / 2 %></td>
            <td>History</td>
          </tr>
          <tr>
            <td><%= (@character.wisdom - 10) / 2 %></td>
            <td>Insight</td>
          </tr>
          <tr>
            <td><%= (@character.charisma - 10) / 2 %></td>
            <td>Intimidation</td>
          </tr>
          <tr>
            <td><%= (@character.intelligence - 10) / 2 %></td>
            <td>Investigation</td>
          </tr>
          <tr>
            <td><%= (@character.wisdom - 10) / 2 %></td>
            <td>Medicine</td>
          </tr>
          <tr>
            <td><%= (@character.intelligence - 10) / 2 %></td>
            <td>Nature</td>
          </tr>
          <tr>
            <td><%= (@character.wisdom - 10) / 2 %></td>
            <td>Perception</td>
          </tr>
          <tr>
            <td><%= (@character.charisma - 10) / 2 %></td>
            <td>Performance</td>
          </tr>
          <tr>
            <td><%= (@character.charisma - 10) / 2 %></td>
            <td>Persuasion</td>
          </tr>
          <tr>
            <td><%= (@character.intelligence - 10) / 2 %></td>
            <td>Religion</td>
          </tr>
          <tr>
            <td><%= (@character.dexterity - 10) / 2 %></td>
            <td>Sleight of Hand</td>
          </tr>
          <tr>
            <td><%= (@character.dexterity - 10) / 2 %></td>
            <td>Stealth</td>
          </tr>
          <tr>
            <td><%= (@character.wisdom - 10) / 2 %></td>
            <td>Survival</td>
          </tr>
        </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">

      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h5>AC</h5></div>
            <div class="panel-body"><%= @character.armour_class %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h5>Initiative</h5></div>
            <div class="panel-body"><%= @character.initiative %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h5>Speed</h5></div>
            <div class="panel-body"><%= @character.speed %></div>
          </div>
        </div>
      </div>

      
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h5>Max HP</h5></div>
            <div class="panel-body"><%= @character.hp_max %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h5>HP</h5></div>
            <div class="panel-body"><%= @character.current_hp %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h5>Temp. HP</h5></div>
            <div class="panel-body"><%= @character.temp_hp %></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h5>Total Hit Dice</h5></div>
            <div class="panel-body"><%= @character.total_hit_dice %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h5>Current Hit Dice</h5></div>
            <div class="panel-body"><%= @character.current_hit_dice %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h5>Death Saves</h5></div>
            <div class="panel-body"><%= @character.death_saves %></div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4>Attacks and Spells</h4></div>
        <div class="panel-body">
          Weapons: <%= @character.weapons %>
          <div class="scroll-container-large">
            <%= @character.other_attacks_and_spells %>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4>Equipment</h4></div>
        <div class="panel-body">
          cp: <%= @character.cp %>
          <br>
          sp: <%= @character.sp %>
          <br>
          ep: <%= @character.ep %>
          <br>
          gp: <%= @character.gp %>
          <br>
          pp: <%= @character.pp %>
          <br>
          <div class="scroll-container-large">
            <%= @character.other_equipment %>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading"><h4>Character Details</h4></div>
        <div class="panel-body">
          <div class="scroll-container-small">
            <b>Personality:</b> <%= @character.personality %>
          </div>
          <div class="scroll-container-small">
            <b>Ideals:</b> <%= @character.ideals %>
          </div>
          <div class="scroll-container-small">
            <b>Bonds:</b> <%= @character.bonds %>
          </div>
          <div class="scroll-container-small">
            <b>Flaws:</b> <%= @character.flaws %>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4>Features and Traits</h4></div>
        <div class="panel-body">
          <div class="scroll-container-small">
            <%= @character.features %>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Proficiencies and Languages</h4></div>
        <div class="panel-body">
          <div class="scroll-container-large">
            <b>Armour:</b> <%= @character.armour_profs %>
            <br>
            <b>Weapons:</b> <%= @character.weapon_profs %>
            <br>
            <b>Tools:</b> <%= @character.tool_profs %>
            <br>
            <b>Saving Throws:</b> <%= @character.saving_throw_profs %>
            <br>
            <b>Skills:</b> <%= @character.skill_profs %>
            <br>
            <b>Languages:</b> <%= @character.language_profs %>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>